/* body {
  background: linear-gradient(90deg, rgba(0,220,255,1) 1%, rgba(255,255,255,1) 32%, rgba(111,49,146,1) 48%, rgba(235,255,254,1) 65%, rgba(0,220,255,1) 85%);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-wrapper{
  background-color: rgb(212, 27, 83)}
.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 300px;
}
.card .card-image .card-title{
  color: white;
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: black;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}

#brand-logo{
  float: left;
  font-style: italic;
  font-size: 30px;
  font-weight: 800;
}
#paper-header{
 font-size: 100px
}
#paper-header-text{
 font-size: 50px;
 font: italic small-caps bold 50px cursive;
}

.appointmentForm{
  padding: 1%;
}
#appointment{
  display: none;
}
.react-datepicker-wrapper{
  padding: 1%;
  /* border-style: solid;
  border-width: 1px;
  border-color: blue;  */
}
.react-datepicker__input-container{
  width: fit-content;
}
